* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  font-family: 'Times New Roman', Times, serif;
  display: grid;
  grid-template-columns: 0.8fr 2fr 1.5fr;
  background: #171717;
  color: white;
  min-height: 100vh;

}

.left-section {
  background: #15202b;
  color: #fff;
  min-height: 100vh;
}
nav a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 1.2em;
  font-weight: 500;
}

.profilePicture {
  height: 60px;
  border-radius: 40%; 
}

.right-section {
  background: #15202b;
  min-height: 100vh; 
}
